<div class="grid">
  <div class="col-12 text-center"><h2 class="text-primary-500">{{ 'authentication.headline' | translate }}</h2></div>
  <div class="col-12 md:col-6 md:col-offset-3 text-center">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="card border-2 border-gray-200 bg-primary-50 border-round p-4 w-10 col-offset-1">
        <div class="formgrid grid">
          <div class="field col-12 md:col-6">
            <input type="email" pInputText formControlName="email" placeholder="{{'authentication.email' | translate }}" class="w-full" />
          </div>
          <div class="field col-12 md:col-6">
            <input type="password" pInputText formControlName="password" placeholder="{{'authentication.password' | translate }}" class="w-full" />
          </div>
        </div>
        <div class="col-12 md:col-offset-9 md:col-3 flex flex-row justify-content-end mt-5">
          <p-button type="submit" label="{{ isLoginMode? ('authentication.button-login' |translate ) : 'authentication.button-register' | translate }}" [disabled]="registrationForm.invalid"></p-button>
        </div>
      </div>
      <div class="mt-2">
        <p-button styleClass="p-button-outlined p-button-sm" (click)="onSwitchMode()" label="{{ isLoginMode? ('authentication.button-go-to-register' | translate) : 'authentication.button-go-to-login' | translate }}"></p-button>
      </div>
    </form>
  </div>
</div>
