<div class="grid">
  <div class="col-12 text-center"><h2 class="text-primary-500">{{ 'login.headline' | translate }}</h2></div>
  <div class="col-12 md:col-6 md:col-offset-3 text-center">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="card border-2 border-gray-200 bg-primary-50 border-round p-4">
        <div class="formgrid grid">
          <div class="field col-12 md:col-6">
            <input type="email" pInputText formControlName="email" placeholder="{{'login.email' | translate }}" class="w-full" />
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error text-left">
              <div *ngIf="email.errors?.['required']" class="mt-2">{{ 'global.email_required' | translate }}</div>
              <div *ngIf="email.errors?.['email']" class="mt-2">{{ 'global.email_invalid' | translate }}</div>
            </small>
          </div>
          <div class="field col-12 md:col-6">
            <p-password formControlName="password"
                        [toggleMask]="true"
                        [feedback]="false"
                        [styleClass]="'block w-full'"
                        [inputStyleClass]="'block w-full'"
                        placeholder="{{'login.password' | translate }}"></p-password>
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error text-left">
              <div *ngIf="password.errors?.['required']" class="mt-2">{{ 'global.password_required' | translate }}</div>
            </small>
          </div>
        </div>
        <div class="col-12 md:col-offset-9 md:col-3 flex flex-row justify-content-end mt-5">
          <p-button type="submit" label="{{ 'login.button' | translate }}" [disabled]="loginForm.invalid"></p-button>
        </div>
      </div>
    </form>
    <p>{{'login.go_to_register' | translate }} <a routerLink="/register">{{'login.register' | translate }}</a></p>
  </div>
</div>
