  <div class="col-12 text-center"><h1>{{ 'employee_list.employee_list_title' | translate }}</h1></div>
  <div class="col-12 text-right">
    <a routerLink="/add-employee"><p-button label="{{ 'employee_list.add_employee_button' | translate }}" icon="pi pi-plus"></p-button></a>
  </div>
<div class="card">
  <p-table [value]="employees" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'employee_list.table_header_id' | translate }}</th>
        <th>{{ 'employee_list.table_header_firstname' | translate }}</th>
        <th>{{ 'employee_list.table_header_lastname' | translate }}</th>
        <th>{{ 'employee_list.table_header_email' | translate }}</th>
        <th>{{ 'employee_list.table_header_job_title' | translate }}</th>
        <th>{{ 'employee_list.table_header_department' | translate }}</th>
        <th>{{ 'employee_list.table_header_location' | translate }}</th>
        <th class="text-center">{{ 'employee_list.table_header_edit' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstname }}</td>
        <td>{{ employee.lastname }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.jobTitle }}</td>
        <td>{{ employee.department }}</td>
        <td>{{ employee.location}}</td>
        <td class="text-center">
          <p-button styleClass="p-button-outlined mr-2" icon="pi pi-pencil" [routerLink]="['/update-employee', employee.id]"></p-button>
          <p-button styleClass="p-button-outlined p-button-danger" icon="pi pi-trash" (click)="onDelete(employee.id, employees)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
